.footer {
  background: #ffffff;
  border: 1px solid #f3f3f3;
  height: 221px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer-block2__img {
}
.footer-block2__list {
  margin-bottom: 14px;
}
.footer-block2__list {
  margin-right: 87px;
  margin-bottom: 14px;
}
.footer-block1__item {
  margin-left: 87px;
}
.footer-block1__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  color: #333333;
}
.footer__item1 img {
  display: flex;
  width: 14px;
  height: 13px;
}
.footer__item2 img {
  width: 14px;
  height: 13px;
}
.footer-item2__img {
  width: 14px;
  height: 13px;
  margin-right: 9px;
}
.footer-itemimg1 {
  width: 4px;
  height: 4px;
  margin-right: 9px;
  border-radius: 50%;

  background: #ffbd54;
}
.footer__item3 img {
  width: 14px;
  height: 13px;
  margin-right: 9px;
}

.footer-block2__img {
  max-width: 178px;
  height: 87px;
}

.footer__list__img1 {
  margin-right: 12px;
  width: 15px;
  height: 15px;
}
.footer__wrap {
  display: flex;
}
.footer__list__img2 {
  margin-right: 8px;
  width: 23px;
  height: 21px;
}
@media only screen and (max-width: 1230px) {
  .footer__wrap {
    display: flex;
    flex-direction: column;
  }
  .footer-block1__item {
    display: inline-block;
    margin-bottom: 15px;
  }
  .footer__item1 p {
    display: none;
  }
  .footer__item2 a {
    display: none;
  }
  .footer__item3 a {
    display: none;
  }
  .footer__itemimg1 {
    display: none;
  }
}
@media only screen and (max-width: 675px) {
  .footer-block2__img {
    margin-right: 20px;
  }
  .footer__wrap {
    margin-left: 0px;
    max-width: 90px;
    display: flex;
    flex-direction: column;
  }
  .footer-block1__item {
    margin-right: 10px;
  }
  .footer__item1 p {
    display: none;
  }
  .footer__item2 a {
    display: none;
  }
  .footer__item3 a {
    display: none;
  }
  .footer__itemimg1 {
    display: none;
  }
}
