.footer {
  background: #ffffff;
  border: 1px solid #f3f3f3;
  height: 221px;
}
.footer__container {
  display: flex;
}
.footer-block2__img {
  margin-right: 87px;
}
.footer-block2__list {
  margin-right: 87px;
  margin-bottom: 14px;
}
.footer-block2__list {
  margin-right: 87px;
  margin-bottom: 14px;
}
.footer-block1__item {
  margin-left: 87px;
}
.footer-block1__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  color: #333333;
}
.item1 {
  width: 14px;
  height: 13px;
}
.item2 {
  width: 14px;
  height: 13px;
}
.footer-item2__img {
  width: 14px;
  height: 13px;
  margin-right: 9px;
}
.footer-itemimg1 {
  width: 4px;
  height: 4px;
  margin-right: 9px;
  border-radius: 50%;

  background: #ffbd54;
}
.item3 {
  width: 14px;
  height: 13px;
  margin-right: 9px;
}

.footer-block2__img {
  max-width: 178px;
  height: 87px;
}

.footer__list__img1 {
  margin-right: 12px;
  width: 15px;
  height: 15px;
}
.footer__wrap {
}
.footer__list__img2 {
  margin-right: 8px;
  width: 23px;
  height: 21px;
}
